body {
  font-size: 16px;
}

uni-page-body {
  padding: 30rpx;
}

.panel {
  background: #f8f8f8;
  border-radius: 10rpx;
  padding: 30rpx 20rpx;
  color: #4a4a4a;

  .panel-header {
    font-size: 14px;
    padding-bottom: 15rpx;
  }

  .panel-container {
    font-size: 14px;
    margin-left: 10rpx;
  }
}