.uni-grid {

  .uni-grid-item,
  .uni-grid-item__box {
    border-radius: 6px;
  }
}
uni-input{
  background: #fff;
  border: 1px #eee solid;
  padding: 10rpx;
  font-size: 14px;
}
uni-textarea {
  background: #fff;
  border: 1px #eee solid;
  padding: 16rpx;
  font-size: 14px;
}

uni-button {
  background: #fff;
  color: #795bd4;
  font-size: 14px;
  letter-spacing: 2px;
}